---
---

@import "{{ site.theme }}";

section {
	width: 730px;
}

div#banner {
   margin-right: -530px;
}

@media print, screen and (max-width: 1060px){
	section {
		border: 1px solid #e5e5e5;
		border-width: 1px 0;
		padding: 20px;
		margin: 190px auto 20px;
		max-width: 600px;
	}
}
